In [ ]:
import matplotlib.pyplot as plt

In [ ]:
fig = plt.figure()
ax = fig.add_axes([0,0,1,1])
plt.title("data eskul smk")
eskul = ['pakibra', 'pmr' , 'pramuka', 'futsal','voly', 'kesenian', 'rohis']
siswa   = [5,18,30,7,16,19,12]
c = ['red','yellow','green','blue','black','purple','red']
ax.bar(eskul, siswa, color = c)
plt.show()

In [ ]:
fig = plt.figure()
ax = fig.add_axes([0,0,1,1])
plt.title("data eskul smk")
eskul = ['kls10','kls11','kls12']
siswa   = [107,100,80]
c = ['red','yellow','green']
ax.bar(eskul, siswa, color = c)
plt.show()

In [ ]:
print("")
print("soal no 3")
fut10 = 7
fut11 = 29
fut12 = 15
vol10  = 16
vol11  = 10
vol12  = 12
jml = fut10+fut11+fut12+vol10+vol11+vol12
print("jumlah orang yang mengikuti olahraga : " + str(jml))

fut10 = 107
fut11 = 100
fut12 = 80
jml   = fut10+fut11+fut12 - 89
print("jumlah yang mengikuti eskul " +str(jml))

fut10 = 7
fut11 = 29
fut12 = 15
jml   = fut10+fut11+fut12
print("jumlah yang tidak mengikuti eskul " +str(jml))

a = 89
b = 198
c = 45
pers = a * 100 /322
pers2 = b * 100 / 322
pers3 = c *100 /322
print("jumlah orang yang mengikuti olahraga : " + str(jml))
print("jumlah yang mengikuti eskul " +str(jml))
print("jumlah yang tidak mengikuti eskul " +str(jml))
print("")
fig = plt.figure()
ax = fig.add_axes([0,0,1,1])
plt.title("data eskul smk")
eskul = ['olahraga', 'mengikuti' , 'tidak mengikuti']
siswa   = [89,198,45]
c = ['red','yellow','green']
ax.bar(eskul, siswa, color = c)
plt.show()
fig = plt.figure()
ax = fig.add_axes([0,0,1,1])
ax.axis('equal')
plt.title("data siswa yang  masuk eskul")
eskul = ['olahraga', 'mengikuti' , 'tidak mengikuti']
siswa   = [89,198,45]
ax.pie(siswa,labels=eskul,autopct='1%.2f%%')
plt.show()

In [ ]:
print("===saol 4===")
kelas10 = 17
kelas11 = 8
kelas12 = 20
hasil = (kelas10 + kelas11 + kelas12)
print("jumlah semua yang tidak ikut eskul " + str(hasil))

kelas10 = 17
kelas11 = 8
kelas12 = 20
jml = 45
hasil1 = (kelas10 * 100/jml)
hasil2 = (kelas11 * 100/jml)
hasil3 = (kelas12 * 100/jml)
print("jumlah semua yang tidak ikut eskul " + str(hasil1))
print("jumlah semua yang tidak ikut eskul " + str(hasil2))
print("jumlah semua yang tidak ikut eskul " + str(hasil3))

fig = plt.figure()
ax = fig.add_axes([0,0,1,1])
ax.axis('equal')
plt.title("data siswa yang tidak masuk eskul")
nama = ['kelas10', 'kelas11' , 'kelas12']
persentase   = [37.77777777777778,17.77777777777778, 44.44444444444444]
ax.pie(persentase,labels=nama,autopct='1%.2f%%')
plt.show()

In [ ]:
print("soal 5")
fig = plt.figure()
ax = fig.add_axes([0,0,1,1])
plt.title("data eskul smk kelas 10")
eskul = ['paskibra', 'pmr' , 'pramuka' , 'futsal',' volly','kesenian','rohis']
siswa   = [5,18,30,7,16,19,12]
c = ['red','yellow','green','blue','purple','black','red']
ax.bar(eskul, siswa, color = c)
plt.show()
print("")
fig = plt.figure()
ax = fig.add_axes([0,0,1,1])
ax.axis('equal')
plt.title("data eskul smk kelas 10")
eskul = ['paskibra', 'pmr' , 'pramuka' , 'futsal',' volly','kesenian','rohis']
siswa   = [5,18,30,7,16,19,12]
ax.pie(siswa,labels=eskul,autopct='1%.2f%%')
plt.show()

print("==========================================")
fig = plt.figure()
ax = fig.add_axes([0,0,1,1])
plt.title("data eskul smk kelas 11")
eskul = ['paskibra', 'pmr' , 'pramuka' , 'futsal',' volly','kesenian','rohis']
siswa   = [21,4,8,29,10,18,10]
c = ['red','yellow','green','blue','purple','black','red']
ax.bar(eskul, siswa, color = c)
plt.show()
print("")
fig = plt.figure()
ax = fig.add_axes([0,0,1,1])
ax.axis('equal')
plt.title("data eskul smk kelas 11")
eskul = ['paskibra', 'pmr' , 'pramuka' , 'futsal',' volly','kesenian','rohis']
siswa   = [21,4,8,29,10,18,10]
ax.pie(siswa,labels=eskul,autopct='1%.2f%%')
plt.show()

print("==========================================")
fig = plt.figure()
ax = fig.add_axes([0,0,1,1])
plt.title("data eskul smk kelas 12")
eskul = ['paskibra', 'pmr' , 'pramuka' , 'futsal',' volly','kesenian','rohis']
siswa   = [6,12,24,15,12,4,7]
c = ['red','yellow','green','blue','purple','black','red']
ax.bar(eskul, siswa, color = c)
plt.show()
print("")
fig = plt.figure()
ax = fig.add_axes([0,0,1,1])
ax.axis('equal')
plt.title("data eskul smk kelas 12")
eskul = ['paskibra', 'pmr' , 'pramuka' , 'futsal',' volly','kesenian','rohis']
siswa   = [6,12,24,15,12,4,7]
ax.pie(siswa,labels=eskul,autopct='1%.2f%%')
plt.show()